#Eclipse
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.settings/org.eclipse.jdt.core.prefs

# CDT-specific
.cproject

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

#Java
*.class
*.jar
